@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>
    "use strict";

    //Variable de conexion y construirla
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    //Disable the send button until connection is established.
    document.getElementById("sendButton").disabled = true;

    //Encender la conexion
    connection.on("ReceiveMessage", function (user, message) {

        //Crear elementos html
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);

        //Mostrar mensaje recibido en la lista
        li.textContent = `${user} says ${message}`;
    });

    //Iniciar la conexion
    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {

        //Tomar valores ingresados
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;

        //Enviar los valores obtenidos
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });

        //Prevenir accion por defecto del boton
        event.preventDefault();
    });
</script>